.lines{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .board{
    background-image:linear-gradient(rgba(255, 255, 255, 0.884),rgba(255, 255, 255, 0.342)), url('./200.gif');
    background-position: 100%;
} */